.figures-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.figures-list>div {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 0;
}

.figure-button {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 150px;
    background: #3235dd;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 1px;
    transition: .1s;
}

.figure-button:hover {
    background: #3229af;
    transform: scale(1.05);
}